<template>
  <sudoku :id="id"></sudoku>
</template>

<script>
import sudoku from "~/components/sudoku.vue";

export default {
  components: {
      sudoku,
      
  },
  validate({ params }) {
    return !isNaN(+params.id)
  },
  asyncData({ params, env, error }) {
    const user = env.users.find(user => String(user.id) === params.id)
    if (!user) {
      return error({ message: 'User not found', statusCode: 404 })
    }
    return user
  },
}
</script>

<style scoped>
.player {
  text-align: center;
  margin-top: 100px;
  font-family: sans-serif;
}
</style>
