<template>
  <div>
    <div id="window">
      <div v-for="(item, i) in json">
        <span v-for="(file, j) in item">
          <input v-if="file === 0" class="input" type="text" @change="change(i, j, $event)">
          <input
            v-else
            class="input"
            type="text"
            v-bind:value="json[i][j]"
            @change="change(i, j, $event)"
            disabled
          >
        </span>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  validate({ params }) {
    return !isNaN(+params.id);
  },
  props: {
    id: Number
  },
  name: "sudoku",
  data: function() {
    return {
      mozliwaWygrana: false,
      json: this.loadJson,
      json_2: [
        [0, 0, 3, 0, 5, 8, 0, 0, 9],
        [0, 0, 9, 7, 4, 0, 0, 6, 2],
        [0, 0, 0, 2, 0, 0, 5, 3, 8],
        [4, 0, 2, 0, 0, 0, 0, 1, 3],
        [9, 0, 0, 3, 0, 4, 0, 8, 7],
        [6, 0, 8, 0, 7, 0, 2, 5, 0],
        [3, 0, 0, 0, 0, 5, 0, 2, 0],
        [0, 0, 5, 0, 3, 7, 0, 9, 0],
        [0, 1, 7, 0, 0, 0, 3, 4, 0]
      ],
      json_typow: [
        ["int", "int", "int", "int", "int", "int", "int", "int", "int"],
        ["int", "str", "int", "int", "int", "int", "int", "int", "int"],
        ["int", "str", "int", "int", "int", "int", "int", "int", "int"],
        ["int", "str", "int", "int", "int", "int", "int", "int", "int"],
        ["int", "str", "int", "int", "int", "int", "int", "int", "int"],
        ["int", "str", "int", "int", "int", "int", "int", "int", "int"],
        ["int", "str", "int", "int", "int", "int", "int", "int", "int"],
        ["int", "str", "int", "int", "int", "int", "int", "int", "int"],
        ["int", "str", "int", "int", "int", "int", "int", "int", "int"]
      ]
    };
  },
  methods: {
      loadJson(){
          
      },
    checkType(x) {
      if (x.length === 1) return ["int", x];
      let _x = x.substring(1, 2);
      if (x === '"' + _x + '"' || x === "'" + _x + "'") return ["str", _x];
      else if (x === "[" + _x + "]") return ["arr", _x];
      else if (parseFloat(x) * 10 > 0) return ["float", parseFloat(x) * 10];
    },
    checkValueInLine(wiersz, kolumna) {
      let arr = [];
      for (let i = 0; i < 9; i++) {
        arr.push(this.json[i][kolumna]);
      }

      for (let i = 0; i < 9; i++) {
        if (
          this.json[wiersz].includes(i + 1) === false ||
          arr.includes(i + 1) === false
        ) {
          return false;
        }
      }
      return true;
    },

    /* change(i,j, event){
                let value = this.checkType(event.target.value);
                let typ;
                if(this.json_typow[i][j] === value[0]){
                    this.json[i][j] = parseInt(value[1]);  // zielony
                    typ = true;
                    console.log("zielony");
                }else{
                    typ = false;
                    console.info("Zly typ. Oczekiwany: "+ this.json_typow[i][j]);  // zolty
                }

                this.mozliwaWygrana = this.checkValueInLine(i, j);

                if(typ === false && this.mozliwaWygrana === false)
                    console.warn("czerwony");
                else if(typ === false){
                    console.info("zoloty")
                }

                if(this.mozliwaWygrana)
                    this.win();
                console.log("=====================================================");
                console.log("mozliwa wygrana: " + this.mozliwaWygrana);
            }, */

    change(i, j, event) {
      this.json[i][j] = parseInt(event.target.value);
      this.mozliwaWygrana = this.checkValueInLine(i, j);

      console.log("=====================================================");
      console.log("mozliwa wygrana: " + this.mozliwaWygrana);

      if (this.mozliwaWygrana) this.win();
    },

    win() {
      let win = [true, true, true, true, true, true, true, true, true];

      for (let i = 0; i < 9; i++) {
        for (let j = 0; j < 9; j++) {
          if (this.json[i].includes(j + 1) === false) {
            win[i] = false;
            break;
          }
        }
        if (win[i] === false) break;
      }

      if (win.includes(false)) {
        console.log("Jeszcze nie");
        return false;
      }

      console.log("Wygrana");
      return true;
    }
  }
};
</script>

<style>
.input {
  width: 3.8vw;
  height: 3.8vw;
  text-align: center;
  margin: 2px;
}
</style>