<template>
  <div id="app">
    <div id="documentation">
      <documentation></documentation>
    </div>
    <div class="container" id="sudoku">
      <div>
        <h2>
          Poziomy
        </h2>
        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            <ul class="pagination-list">
            <li v-for="user in users" :key="user.id">
                <NuxtLink class="pagination-link" :to="'/'+user.id">{{ user.name }}</NuxtLink>
            </li>
            </ul>
        </nav>
      </div>
      <div >
        <NuxtChild :key="$route.params.id"/>
      </div>
    </div>
  </div>
</template>

<script>
import documentation from "~/components/documentation.vue";

export default {
  asyncData({ env }) {
    return { users: env.users }
  },
   name: "app",


 components: {
    documentation,
  },


  }
</script>

<style >
@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
.page-enter-active,
.page-leave-active {
      /* -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1; */
  /* transition: opacity 0.4s, transform 0.4s;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  opacity: 1; */
}
.page-enter,
.page-leave-active {
  /* opacity: 0.5;
  transform: rotateY(100deg); */
}
.container {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.right {
  width: 50%;
  position: absolute;
  /* top: 0; */
  /* right: 0; */
}
.players li a:hover {
  color: orange;
}

.base-pagination-trigger {
  cursor: pointer;
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  display: grid;
  grid-template-columns: 40% auto;
}

#documentation {
  grid-column: 1;
}

#sudoku {
  grid-column: 2;
}
</style>
